*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/sample/build
/sample-compose/build
/sample-core/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
standalone.jks
standalone.jks.properties
cobrowse.keystore
cobrowse.keystore.properties
